$adHeight: 60px;

html,
body {
  height: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &.has-ads {
    #web {
      height: calc(100% - #{$adHeight});
    }
  }
}

#web {
  width: 100%;
  height: 100%;
}

#ads {
  .ad {
    height: $adHeight;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}