body {
  color: red;
}

.home__wrapper__content__banner {
  display: none;
}

.shareBannerView {
  display: none;
}

.imgScroll.mgtop {
  display: none;
}

#myInfoPwd .headBanner {
  height: 50px;

  img {
    opacity: 0;
    pointer-events: none;
  }
}

.CPPlayingAdView {display:none;}
.CPCueFrameView {display:none;}
.outerVideoInfo__banner {display:none;}

