body {
  color: red;
}

.home__wrapper__content__banner {
  display: none;
}

.shareBannerView {
  display: none;
}

.imgScroll.mgtop {
  display: none;
}

#myInfoPwd .headBanner {
  height: 50px;

  img {
    opacity: 0;
    pointer-events: none;
  }
}

.CPPlayingAdView,
.CPCueFrameView,
.CPPlayAdView,
.outerVideoInfo__banner,
.outerVideoInfo__Cbanner,
.CPVipFlagView,
.notif
.bannerView {
  display: none;
}

